table#map {
  float: left;
  margin-right: 20px;
  td {
    width: 20px;
    height: 20px;
    background-color: lighten(brown, 20%);
    text-align: center;
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      text-align: center;
    }

    &[data-zone="residential"] {
      background-color: green;

      &[data-density="0"] {
        background-color: lighten(green, 80%);
        border: 2px solid green;
        width: 16px;
        height: 16px;
      }
      &[data-density="1"] {
        background-color: lighten(green, 40%);
      }
      &[data-density="2"] {
        background-color: green;
      }
      &[data-density="3"] {
        background-color: darken(green, 12%);
      }

    }
    &[data-zone="commercial"] {
      background-color: blue;
    }
    &[data-zone="industrial"] {
      background-color: yellow;
    }
    &[data-zone="road"] {
      background-color: gray;
    }


  }
}
